/*Shopping bag wrapper*/
.shopping-bag {
    margin: 80px auto 0;
    max-width: 1050px;
}
.bag-outer-container{
    padding: 30px 0 0;
}
.bag-container{
    background: var(--accent-green);
    color: var(--green);
    line-height: 4;
    padding: 30px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/*Shopping bag items*/
.bag-container .mobile-bag{
    display: none;
}
.bag-container > table > thead > tr,
.bag-container > table > tbody > tr{
    color: var(--green); 
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4,1fr) 0.35fr;
}
.bag-container > table > thead > tr > th{
    font-family: Muli-Regular;
    font-size: 1.375rem;   
}
.bag-container > table > thead > tr > th,
.bag-container > table > tbody > tr > td{
    text-align: center;
}
.bag-container > table > thead > tr > th.bag-heading.item-heading,
.bag-container > table > tbody > tr > td.bag-item-name{
    text-align: left;
}
.bag-container > table > thead > tr > th.bag-heading.delete{
    text-align: right;
}
.bag-container > table > tbody > tr > td.delete-container{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
}
.bag-item{
    padding: 10px 0;
}
.quan-picker{
    width: 60px;
    padding: 2px 5px 2px 7px;
    border: none;
    height: 32px; 
    -webkit-box-shadow: 0px 1px 2px #d8d0d0; 
       -moz-box-shadow: 0px 1px 2px #d8d0d0; 
            box-shadow: 0px 1px 2px #d8d0d0;
}
.delete-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
       -moz-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
}
.delete-container button {
    background: transparent;
    border: none;
}
.delete-item{
    cursor: pointer;
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
         -o-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.delete-item:hover{
    -webkit-transform: scale(0.65);
       -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
         -o-transform: scale(0.65);
            transform: scale(0.65);
}
/*Total price*/
.bag-total{
    text-align: right;
    margin: 50px 0 0;
}
#total-label{
    font-family: Muli-Regular; 
    font-size: 1.375rem;
    display: inline;
    margin: 0 70px 0 0;
}
.total-price{
    font-family: Muli-Regular; 
    font-size: 1.25rem;
    font-weight: 600;
}
/*Shopping bag buttons*/
.bag-buttons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bag-button{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: lowercase;
    width: 150px;
    height: 45px;
    cursor: pointer; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
     
}
#delete-btn{
    background: var(--cream);
    color: var(--green);
    border: 2px solid var(--cream);
}
#delete-btn:hover{
    background: var(--green);
    color: var(--cream);
}
#check-out-btn{
    background: var(--green);
    color: var(--cream);
    border: 2px solid var(--green);
}
#check-out-btn:hover {
    background: transparent;
    color: var(--green);
}
.quantity-error{
    display: none;
    color: #dc2d2d;
    line-height: 1.1rem;
    font-size: 12px;
}
.quantity-error.true{
    display: block;
}
@media (max-width: 1200px) {
    .shopping-bag .navigation-btn{
        margin: 0 0 0 50px;
    }
    .bag-container{
        margin: 0 50px;
        padding: 30px;
    }
}
@media (max-width: 1000px) {
    .shopping-bag .navigation-btn{
        margin: 0 0 0 10px;
    }
    .bag-container{
        margin: 0 10px;
    }
    .bag-buttons {
        padding: 0 20px 20px;
    }
    .bag-total {
        margin: 50px 20px 0;
    }
}
@media (max-width: 768px) {
    .bag-container .desktop-bag{
        display: none;
    }
    .bag-container .mobile-bag{
        display: block;
    }
    .bag-container .mobile-bag > tbody{
        position: relative;
        border-bottom: 1px solid #c4c4c4;
        margin: 15px 0 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
    }
    .bag-container .mobile-bag > tbody > tr{
        text-align: left;
        position: relative;
        width: 50%;  
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .bag-container .mobile-bag > tbody > tr > th{ 
        margin: 0 8px 0 0; 
    }

    .bag-container .mobile-bag > tbody > tr.mobile-delete{
        width: fit-content;
        position: absolute;
        right: 0;
        top: 35%;
    }
    .delete-item{ 
        -webkit-transform: scale(0.65) translateY(-50%); 
           -moz-transform: scale(0.65) translateY(-50%); 
            -ms-transform: scale(0.65) translateY(-50%); 
             -o-transform: scale(0.65) translateY(-50%); 
                transform: scale(0.65) translateY(-50%);                 
    }
    .delete-item:hover{
        -webkit-transform: scale(0.75) translateY(-50%);
           -moz-transform: scale(0.75) translateY(-50%);
            -ms-transform: scale(0.75) translateY(-50%);
             -o-transform: scale(0.75) translateY(-50%);
                transform: scale(0.75) translateY(-50%);
    }
    .bag-total {
        margin: 20px 20px 0;
    }
    .bag-button {
        width: 120px;
        height: 36px;
    }
}
@media (max-width: 576px) {
    .shopping-bag .navigation-btn {
        margin: 0 0 0 20px;
    }
    .bag-container{
        margin: 0 20px;
        padding: 20px;
    }
    .bag-container .mobile-bag > tbody > tr{
        width: 100%;
    }
    .delete-item{
        -webkit-transform: scale(0.7) translateY(-50%); 
           -moz-transform: scale(0.7) translateY(-50%); 
            -ms-transform: scale(0.7) translateY(-50%); 
             -o-transform: scale(0.7) translateY(-50%); 
                transform: scale(0.7) translateY(-50%);        
    }
    .delete-item:hover{
        -webkit-transform: scale(0.75) translateY(-50%);
           -moz-transform: scale(0.75) translateY(-50%);
            -ms-transform: scale(0.75) translateY(-50%);
             -o-transform: scale(0.75) translateY(-50%);
                transform: scale(0.75) translateY(-50%);  
    }
    .bag-total {
        margin: 0;
        text-align: center;
    }
    #total-label {
        margin: 0 50px 0 0;
    }
}
