/*Menu wrapper*/
.menu-container{
    background-image: url('../../assets/main-img/menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    line-height: 2;
    padding: 0 8vw 200px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu{
    background: rgba(247, 237, 230, 1);
    position:relative;
    max-width: 1050px;
    width: 100%;
    margin: 100px auto 0;
    padding: 35px 45px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.menu-h2{
    font-family: Muli-Regular; 
    text-align: center;
}
.menu-h3{
    font-family: Muli-Regular; 
    font-size: 20px;
    margin-top: 10px;
}
.menu-p{
    margin: 10px 0 50px;
    text-align: center;
}
.menu .navigation-btn{
    position: absolute;
    right: 35px;
    top: 40px;
}
.line{
    background: #c4c4c4;
    border: none;
    width: 100%;
    height: 1px; 
    margin: 0 0 20px;
}
/*Menu listings*/
.menu-grid{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1.3fr 1fr;
    grid-template-columns: 1.3fr 1fr;
}
.menu ul {
    list-style: none;
}
.menu-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0; 
}
.item{
    background: transparent;
    font-size: 16px;
    text-transform: lowercase;
    border: none;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    transition: 0.1s linear;
}
.item:hover{
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
/*Add item widget*/
.add-item-hidden{
    visibility: hidden;
}
.add-item-visible{
    margin: 0 0 0 30px;
    visibility: visible;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.add-item-btn{
    background: var(--green);
    color: var(--cream);
    text-transform: lowercase;
    width: 70px;
    height: 32px;
    margin: 0 0 0 6px;
    cursor: pointer;
    border: 1px solid var(--green);
    -webkit-box-shadow: 0px 1px 2px #d8d0d0;
       -moz-box-shadow: 0px 1px 2px #d8d0d0;
            box-shadow: 0px 1px 2px #d8d0d0; 
}
.add-item-btn:hover{
    background: var(--cream);
    color: var(--green);
}
.pop-ups{
    position: relative;
}
.pop-ups .quan-picker{
    margin: 0 10px 0 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   cursor: pointer;
}
.item-added{
    background: var(--accent-green);
    width: 110px;
    height: 35px;
    position:absolute;
    bottom: 50%;
    left: 20px;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(50%);
       -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
         -o-transform: translateY(50%);
            transform: translateY(50%);
}
.item-added p{
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
}
.item-added-animation {
    -webkit-animation-name: email-animation;
       -moz-animation-name: email-animation;
         -o-animation-name: email-animation;
            animation-name: email-animation;
    -webkit-animation-duration: 2.05s;
       -moz-animation-duration: 2.05s;
         -o-animation-duration: 2.05s;
            animation-duration: 2.05s;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
         -o-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
       -moz-animation-timing-function: ease-in-out;
         -o-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes item-added-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes item-added-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-o-keyframes item-added-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes item-added-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
/*Footer*/
#copyright.menu-page {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--cream);
    font-weight: 600;
}
@media (max-width: 1200px) {
    .menu-container{
        padding: 0 60px 200px;
    }
    .menu-grid{
        -ms-grid-columns: 1.5fr 1.2fr;
        grid-template-columns: 1.5fr 1.2fr;
    }
}
@media (max-width: 992px) {
    .menu-container{
        padding: 0 50px 200px;
    }
    .menu{
        padding: 20px 5vw 50px; 
    }
    .menu-h2{
        margin-top: 60px;
    }
    .menu .navigation-btn{
        right: 70px;
    }
    .menu-grid{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .menu-container{
        padding: 0;
    }
    .menu{
        padding: 20px 40px 50px; 
        margin: 0;
    }
    .menu-h2{
        margin: 30px 0 0;
    }
    .menu-p{
        margin: 10px 0 30px;
    }
    .menu .navigation-btn{
        right: 40px;
        top: 50px;
    }
    #copyright.menu-page{
        color: #000000;
        font-weight: 500;
        position: static;
        margin: 0 auto 50px;
    }    
}
@media (max-width: 460px) {
    .menu .navigation-btn {
        position: static;
        display: block;
        width: fit-content;
        margin: 0 auto 45px;
    }
    .menu-h3{
        text-align: center;
    }
    .line {
        margin: 15px auto 30px;
    }
    .menu-item {
        margin: 0 auto 0; 
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .pop-ups {
        margin: 20px 0 30px;
    }
    .add-item-visible{
        margin: 0;
    }
    .item-added {
        bottom: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
           -moz-transform: translate(-50%, 50%);
            -ms-transform: translate(-50%, 50%);
             -o-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%);
    }
}