/*Hero and Subhero sections*/
.hero{
    position: relative;
}
.hero .carousel .control-dots .dot {
    width: 12px;
    height: 12px;
}
.hero h2, #sub-one, #sub-two{
    background: rgba(114, 109, 109, 0.3);
    display: inline-block;
    line-height: 1.3;
    padding: 4px 15px;
}
.hero h2{
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
    position: absolute; 
    top: 50%; 
    left: var(--nav-padding);
    z-index: 2;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.hero .slide img{
    width: 100%;
    height: 520px;
    -o-object-fit: cover;
       object-fit: cover;
}
.sub-hero{
    position: relative;
    height: 350px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 4px #adabab;
       -moz-box-shadow: 0px 1px 4px #adabab;
            box-shadow: 0px 1px 4px #adabab; 
}
.sub-hero h3, .sub-hero p{
    color: #ffffff;
    font-weight: 500;
    position: absolute; 
    right: var(--nav-padding);
    z-index: 2;
    -webkit-transform: translateY(50%);
       -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
         -o-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
#sub-one{
    top: 18%;
    font-size: 2.25rem;
}
#sub-two{
    display: inline-block;
    text-align: right;
    font-size: 0.938rem;
    line-height: 1.5;
    width: 317px;
    top: 40%;
}
.sub-hero img{
    position:relative;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: transform 1.2s ease;
         -o-transition: transform 1.2s ease;
       -moz-transition: transform 1.2s ease;
            transition: transform 1.2s ease;
}
.sub-hero img:hover{
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
}
/* Infoformation section */
.info{
    padding: 0 var(--nav-padding);
    height: 350px;
}
.info ul {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.cell{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
       -moz-box-orient: vertical; 
       -moz-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.cell img {
    width: 56px;
}
.cell h3{
    font-family: Muli-Regular; 
    font-size: 1.188rem;
    font-weight: 600;
    color: var(--green);
    margin: 20px 0;
}
.cell address{
    font-size: 1rem;
    font-style: normal;
    line-height: 2.5;
    text-align: center;
    margin-bottom: 5px; 
}
/* Newsletter section */
#newsletter{
    background: var(--green);
    color: var(--cream);
    line-height: 2;
    width: 100%;
    padding: 80px var(--nav-padding) 40px var(--nav-padding);  
}
#newsletter h2{
    font-family: Muli-Regular; 
    font-size: 1.25rem;
    font-weight: 500;
}
#newsletter p{
    font-size: 1rem;
    margin: 0 0 45px;
}
#email, #submit{
    font-size: 0.938rem;
    height: 30px;
    padding: 5px;
    border: none;
}
#email{
    width: 300px;
    padding-left: 10px;
    -webkit-box-shadow: inset 0px 1px 4px #adabab;
       -moz-box-shadow: inset 0px 1px 4px #adabab;
            box-shadow: inset 0px 1px 4px #adabab;
}
#submit{
    background-color: transparent;
    color: var(--cream);
    width: 100px;
    margin: 5px 10px;
    border: 2px solid var(--cream);
    cursor: pointer;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    transition: 0.1s linear;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
#submit:hover{
    background-color: var(--cream);
    color: var(--black);
}
#email-confirmation{
    margin: 15px 0 0;
    opacity: 0;
}
.email-animation {
    -webkit-animation-name: email-animation;
       -moz-animation-name: email-animation;
         -o-animation-name: email-animation;
            animation-name: email-animation;
    -webkit-animation-duration: 3s;
       -moz-animation-duration: 3s;
         -o-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
         -o-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
       -moz-animation-timing-function: ease-in-out;
         -o-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes email-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    85%  {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes email-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    85%  {opacity: 1;}
    100% {opacity: 0;}
}
@-o-keyframes email-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    85%  {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes email-animation {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    85%  {opacity: 1;}
    100% {opacity: 0;}
}
#index-copyright{
    background-color: var(--green);
    color: var(--cream);
    font-family: Muli-Regular;
    font-size: 0.875rem;
    text-align: right;
    padding: 0 var(--nav-padding) 40px var(--nav-padding);
}
@media screen and (max-width: 1000px) {
    .info {
        height: 300px;
        padding: 0;
        margin: 50px 0;
    }
    .cell h3 {
        font-size: 1.063rem;
    }
    .cell address {
        font-size: 0.938rem;
    }
    #newsletter{
        padding: 70px 50px 40px;
    }
}
@media screen and (max-width: 768px) {
    .hero .slide img{
        height: 43vh;
    }
    .hero h2 {
        font-size: 4rem;
        top: 110px;
        left: 50%;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .sub-hero img{
        height: 360px;
    }
    #sub-one,#sub-two{
        text-align: center;
        right: 50%;
        -webkit-transform: translateX(50%);
           -moz-transform: translateX(50%);
            -ms-transform: translateX(50%);
            -o-transform: translateX(50%);
               transform: translateX(50%);
    }
    #sub-one {
        top: 45%;
        font-size: 1.625rem;
    }
    #sub-two {
        top: 60%;
        font-size: 1rem;
    }
    .info {
        height: fit-content;
    }
    .info ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
    }
    .cell h3 {
        margin: 20px 0 5px;
    }
    #newsletter{
        padding: 70px 30px 20px;
        margin: 30px 0 0;
    }
    #index-copyright{
        padding: 0 30px 20px;
    }
}
@media screen and (max-width: 576px) {
    .hero h2 {
        font-size: 3.375rem;
    }
    #sub-one { 
        font-size: 1rem;   
        top: 52%;   
    }
    #sub-two {
        font-size: 0.75rem;
        top: 62%;    
        padding: 0 6px;
    }
    #newsletter{
        padding: 30px 30px 20px;
    }
    #newsletter p {
        font-size: 0.938rem;
        margin: 0 0 25px;
    }
    #email{
        width: 60%;
    }
    #submit{
        width: 30%; 
    }
}
@media screen and (max-width: 350px) {
    #sub-one {
        top: 45%;
    }
    #sub-two {
        top: 63%;
    }
    #email, #submit {
        width: 100%;
    }
    #submit {
        margin: 12px 0 0;
    }
}
@media screen and (max-height: 630px) {
    .index-container{
        height: 82vh;
    }
}