/*General*/
.check-out-container{
    max-width: 1050px;
    margin: 60px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.4fr 80px 0.6fr;
    grid-template-columns: 0.4fr 0.6fr;
    grid-column-gap: 80px;
}
/*Checkout introductory information*/
.checkout-info{
    font-size: 1rem;
    margin: 45px 0 40px 0;
    line-height: 1.7;
}
.testing-label{
    display: inline-block;
    margin: 0 0 7px;
}
/*Checkout form*/
#form fieldset {
    border: none;
    margin: 20px 0;
    padding: 0;
}
#form fieldset legend {
    color: var(--green);
    font-family: Muli-Regular;  
    font-size: 1.375rem;
    font-weight: 400;
    margin: 15px 0 17px;
}
#form label {
    margin: 17px 0 8px;
}
#form button {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    width: 100%;
    height: 45px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
         border-radius: 4px;
    -webkit-box-shadow: 1px 5px #d8d0d0;
       -moz-box-shadow: 1px 5px #d8d0d0;
            box-shadow: 1px 5px #d8d0d0; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
#form .StripeElement--webkit-autofill {
	background: transparent;
}
#form .StripeElement, #form input{
    background-color: white; 
    margin: 5px 0 10px 0;
    padding: 11px 5px;
    width: 100%;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
         border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px #d8d0d0;
       -moz-box-shadow: 0px 1px 2px #d8d0d0;
            box-shadow: 0px 1px 2px #d8d0d0;
}
/*Summary table*/
.summary{
    background: var(--green);
    color: var(--cream);
    padding: 25px 25px 45px;
    margin: 32px 0 0;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
         border-radius: 4px;
    -webkit-box-shadow: 1px 5px #d8d0d0;
       -moz-box-shadow: 1px 5px #d8d0d0;
            box-shadow: 1px 5px #d8d0d0;
}
.summary-table{
    width: 100%;
}
#summary-heading{
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--cream);
    margin: 0 0 20px;
}
.summary-table td, .summary-table th{
    font-weight: 500;
    padding: 5px 0;
}
.summary-table th {
    text-align: left;
}
.summary-table .col-two{
    text-align: right;
}
.summary button{
    background: transparent;
    color: var(--cream);   
    width: 100%;
    height: 35px;
    margin: 15px 0 0;   
    cursor: pointer;
    border: 2px solid var(--cream);
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    transition: 0.1s linear;
}
.summary button:hover{
    background: var(--cream);
    color: var(--green);
}
@media (max-width: 1200px) {
    .check-out-container{
        margin: 60px 5vw;
    }
}
@media (max-width: 992px) {
    .summary{
        padding: 30px 25px;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
    }

}
@media (max-width: 768px) {
    .check-out-container{
        margin: 60px 8vw;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
    }
    .summary{
        margin: 40px 0 0;
    }
}
@media (max-width: 576px) {
    .check-out-container{
        margin: 60px 5vw;
    }
}

