.gallery-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
       -moz-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.gallery-container h2{
    font-size: 1em;
    margin: 0 auto;
    color:var(--green);
    margin-top: 100px;
    font-family: Muli-Regular; 
    cursor:pointer;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.gallery-container h2:hover{
    font-size: 1.015em;
    text-decoration: underline;
}
.img1{-ms-grid-row: 1;-ms-grid-column: 1;grid-area: img1;}
.img2{-ms-grid-row: 3;-ms-grid-column: 1;grid-area: img2;}
.img3{-ms-grid-row: 1;-ms-grid-row-span: 3;-ms-grid-column: 3;grid-area: img3;}
.img4{-ms-grid-row: 5;-ms-grid-column: 1;grid-area: img4;}
.img5{-ms-grid-row: 5;-ms-grid-column: 3;grid-area: img5;}
.gallery{
    margin: 40px 100px;
    display:-ms-grid;
    display:grid;
    -ms-grid-rows: auto 12px auto 12px auto;
        grid-template-areas: 
        'img1 img3' 
        'img2 img3'
        'img4 img5';
    -ms-grid-columns: 50% 12px 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 12px;
}
.gallery-img{
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}
.post{
    position:relative;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
       -moz-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    background: white;
    height: 100%;
    width: 100%;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.insta-logo{
    width: 70px;
    cursor: pointer;
}
.post:hover > .wrapper:hover{ 
    opacity:0.6;
}
#gallery-copyright{
    font-family: Muli-Regular; 
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 0.8em;
    text-align: center;
    color: var(--green);
}
@media (max-width: 1200px) {
    .gallery{
        margin: 40px 100px;
    }
}
@media (max-width: 992px) {
    .gallery{
        margin: 40px 50px;
    }
}
@media (max-width: 768px) {
    .gallery{
        margin: 20px 20px;
        grid-gap: 5px;
    }
    .gallery-container h2{
        font-size: 0.9em;
        margin-top: 20px;
    }
    #gallery-copyright{
        margin-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .gallery{
        margin: 20px 0px;
        grid-gap: 0;
    }
    #gallery-copyright{
        margin-top: 0;
        padding-bottom: 10px;
        font-size: 0.6em;
    }

}