/*Fonts*/
@font-face{
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: local('Nanum Gothic'), url('./assets/NanumGothic-Regular.woff') format('woff');
}
@font-face{ 
  font-family: Muli-Regular;
  font-weight: normal;
  font-weight: normal;
  src: url('./assets/Muli-Regular.woff') format('woff');
} 
/*General*/
*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
:root{
  --green: #104940;
  --accent-green: #dce0df;
  --cream: #F7EDE6;
  --black: #2B2626; 
  --nav-padding: 100px; 
}
html{
  font-size: 16px;
}
body{
  background: var(--cream);
  font-family: 'Nanum Gothic', sans-serif;
  color: var(--black);
  text-transform: lowercase;
}
input, button{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
a{
  text-decoration: none;
}
.App{
  position: relative;
  overflow: hidden;
}
/*Accessibility*/
.hidden,.skip-link{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  font-size: 1.375rem;
}
/* Buttons */
.navigation-btn{
  background: var(--green);
  color: var(--cream);
  font-size: 0.875rem;
  text-transform: lowercase;
  line-height: 1rem;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 5px #d8d0d0;
  -moz-box-shadow: 0px 1px 5px #d8d0d0;
       box-shadow: 0px 1px 5px #d8d0d0;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  transition: 0.1s linear;
}
.navigation-btn:hover{
  color: var(--green) ;
  background: var(--accent-green); 
}
.navigation-btn:active {
  color: var(--cream);
  background: var(--green);
}
/* Banner */
.banner{
  background: var(--green);
  height: 40px; 
  width: 100%; 
  color: var(--cream);
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
     -moz-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-family: Muli-Regular; 
}
.decoration{
  font-size: 0.85rem;
}
/* Navbar */
.navbar{
  background: var(--cream);
  padding: 15px var(--nav-padding);
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-pack: justify; 
  -webkit-justify-content: space-between; 
     -moz-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.simple{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-ul{
  list-style-type: none;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
     -moz-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
}
.navbar-brand{
  background: var(--accent-green);
  color: var(--green);
  font-family: Muli-Regular;
  width: 160px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
     -moz-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-brand h1{
  font-size: 1.688rem;
}
.nav-item{
  margin-left: 80px;
}
.nav-item a{
  color: var(--black);
  font-size: 1rem;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  -moz-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}
.nav-item a:hover{
  font-weight: 600;
  text-decoration: none;
}
.nav-link:visited{
  color: var(--black);
}
.shopping-bag-links {
  margin-left: 40px;
}
.shopping-bag-links > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#bag-icon{
  -webkit-transform: scale(0.7);
     -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
       -o-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  -moz-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}
#bag-icon:hover{
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}
.items:hover {
  background: var(--green);
  color: #ffffff;
  font-size: 0.938rem;
}
.items{
  font-size: 0.813rem;
  height: 27px; 
  width: 27px; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
     -moz-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
}
.items-empty{
  background: #BBB4B4;
}
.items-filled{
  background: var(--green);
  color: var(--cream);
  margin-left: 5px;
}
/*Footer*/
#copyright {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 45px;
  font-size: 0.938rem;
}
@media screen and (max-width: 1000px) {
  .navbar{
    padding: 15px 50px;
  }
}
@media screen and (max-width: 900px) {
  .nav-item{
    margin-left: 50px;
  }
  .navbar-brand{
    width: 140px;
    height: 35px;
  }
  .navbar-brand h1{
    font-size: 1.25rem;
  }
  .navbar-brand h1:hover{
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation-btn{
    font-size: 0.875rem;
  }
  #bag-icon:hover{
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  .navbar{
    position: relative;
    padding: 15px 20px;
  }
  .nav-item a:hover{
    font-size: 1.125rem;
  }
  .nav-ul{
    background: var(--accent-green);
    width: 100%;
    height: calc(100vh - 104px);
    position: absolute;
    z-index: 3;
    top: 68px; 
    left: 0; 
    visibility: hidden;
    opacity: 0;
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
       -moz-box-orient: vertical; 
       -moz-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
       -moz-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-shadow: 0px 1px 2px #adabab;
       -moz-box-shadow: 0px 1px 2px #adabab;
            box-shadow: 0px 1px 2px #adabab;
    -webkit-transition: 0.1s linear;
         -o-transition: 0.1s linear;
       -moz-transition: 0.1s linear;
            transition: 0.1s linear;
  }
  .nav-ul-open{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-item{
    margin-left: 0;
    margin: 27px 0; 
  }
  .hamburger{
    background: var(--accent-green);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  .hamburger-line{
    background: var(--black);
    height: 3px;
    width: 30px;
    margin: 5px 0;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
  }
  #copyright{
    margin: 20px 20px 20px 0;
    padding: 0;
  }
}
@media screen and (max-width: 576px){
  .banner{
    font-size: 0.75rem;
  }
  .decoration{
    font-size: 0.563rem;
  }
  .hamburger{
    padding: 6px 7px;
  }
  .hamburger-line{
    height: 2px;
    width: 23px;
    margin: 4px 0;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  .nav-ul {
    top: 64px;
  }
  .nav-item{
    margin: 25px 0 25px;
  }
  .nav-item a {
    font-size: 1rem;
  }
  #bag-icon{
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
         -o-transform: scale(0.6);
            transform: scale(0.6);
  }
  #bag-icon:hover{
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 350px) {
  .banner{
    font-size: 0.625rem;
  }
  .decoration{
    font-size: 0.438rem;
  }
}








